.signupForm {
    border: 1px solid;
    border-radius: 5px;
    width: 30%;
    margin: 10%;
    .setEmailSignup {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    
    .setPasswordSignup {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    .signupTitle  {
        text-align: center;
    }
    .mailAdressTitleSignup {
        padding-left: 5%;
        padding-right: 5%;
    }
    .passwordTitleSignup {
        padding-left: 5%;
        padding-right: 5%;
    }
    .passwordConfirmSignup {
        text-align: left;
    }
    .passwordDiff {
        color: red;
        padding-left: 5%;
        padding-right: 5%;
    }
    .SignupButtonForm {
        margin-top: 2%;
    }
    .confirmationCodeButton {
        margin-top: 2%;
    }
}

