.askUserStatus {
    text-align: center;
    margin-top: 1%;
}

.buttonAskUserStatus {
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1%;
}

.ant-btn {
    width: 100%;
}

.styleAskUserStatus {
    
}